html, body {
  margin: 0 !important;
}

body {
  background-color: #000;
/*  overflow: auto !important; */
  padding: 0 !important;
}

#buttonsBar {
  margin-bottom: 5px;
  width: 100%;
}

#buttonsBlock {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
/*  justify-content: space-between; */
}

#btn-save {
  display: none;
  float: right;
}

button {
	border: 1px solid transparent;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: normal;
	color: #FFFFFF;
	background-color: #9C27B0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9C27B0), to(#BD2DF5));
	background-image: -webkit-linear-gradient(top, #9C27B0, #BD2DF5);
	background-image: -moz-linear-gradient(top, #9C27B0, #BD2DF5);
	background-image: -ms-linear-gradient(top, #9C27B0, #BD2DF5);
	background-image: -o-linear-gradient(top, #9C27B0, #BD2DF5);
	background-image: linear-gradient(to bottom, #9C27B0, #BD2DF5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#9C27B0, endColorstr=#BD2DF5);
}

button:hover {
	border: 1px solid #52145d;
	background-color: #771e86;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#771e86), to(#a70be4));
	background-image: -webkit-linear-gradient(top, #771e86, #a70be4);
	background-image: -moz-linear-gradient(top, #771e86, #a70be4);
	background-image: -ms-linear-gradient(top, #771e86, #a70be4);
	background-image: -o-linear-gradient(top, #771e86, #a70be4);
	background-image: linear-gradient(to bottom, #771e86, #a70be4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#771e86, endColorstr=#a70be4);
}

#btn-prettify, #btn-format {
  margin-right: 5px;
}

.ace_scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: crimson;
}
.ace_scrollbar::-webkit-scrollbar {
  background-color: transparent;
}
.ace_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: tomato;
}

.aceEditor {
  position: relative;
  display: block;
}

#UNIQUE_ID_OF_DIV {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 25px;
  left: 0;
  width: unset !important;
  height: unset !important;
  border: 1px solid silver;
  border-radius: 9px;
}

.ace_gutter {
  border-radius: 9px;
}

.swal2-html-container pre {
  font-weight: bold;
  color: red;
  text-align: left;
}
