@font-face {
  font-family: "UbuntuMono";
  src: url("UbuntuMono-Regular.ttf") format("truetype");
}

html, body {
  margin: 0 !important;
}

body {
  background-color: #000;
/*  overflow: auto !important; */
  padding: 0 !important;
}

.buttonsBar, #saveButtons {
  display: none;
  margin-bottom: 5px;
  width: 100%;
  background-color: #363954;
  background-image: linear-gradient(90deg, darkslategray 20%, powderblue 70%, #363954 100%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
  border-radius: 3px;
}


.buttonsBlock {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
/*  justify-content: space-between; */
}

.rightButton {
  display: none;
  float: right;
}

button {
	border: 1px solid transparent;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: normal;
	color: #FFFFFF;
	background-color: #9C27B0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9C27B0), to(#BD2DF5));
	background-image: -webkit-linear-gradient(top, #9C27B0, #BD2DF5);
	background-image: -moz-linear-gradient(top, #9C27B0, #BD2DF5);
	background-image: -ms-linear-gradient(top, #9C27B0, #BD2DF5);
	background-image: -o-linear-gradient(top, #9C27B0, #BD2DF5);
	background-image: linear-gradient(to bottom, #9C27B0, #BD2DF5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#9C27B0, endColorstr=#BD2DF5);
}

button:hover {
	border: 1px solid #52145d;
	background-color: #771e86;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#771e86), to(#a70be4));
	background-image: -webkit-linear-gradient(top, #771e86, #a70be4);
	background-image: -moz-linear-gradient(top, #771e86, #a70be4);
	background-image: -ms-linear-gradient(top, #771e86, #a70be4);
	background-image: -o-linear-gradient(top, #771e86, #a70be4);
	background-image: linear-gradient(to bottom, #771e86, #a70be4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#771e86, endColorstr=#a70be4);
}

.leftButton {
  margin-right: 5px;
}

.ace_scrollbar::-webkit-scrollbar-track {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  border-radius: 10px;
  background-color: crimson;
}
.ace_scrollbar::-webkit-scrollbar {
  background-color: transparent;
}
.ace_scrollbar::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  border-radius: 10px;
  background-color: tomato;
}

.aceEditor {
  position: relative;
  display: inline-block;
}

div[id^=EDITOR] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 25px;
  left: 0;
  width: unset !important;
  height: unset !important;
  border: 1px solid silver;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
  border-radius: 9px;
}

div[id^=EDITOR] .ace_gutter {
	-webkit-border-top-left-radius: 9px;
	-moz-border-top-left-radius: 9px;
  border-top-left-radius: 9px;
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-bottom-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.swal2-html-container pre {
  font-weight: bold;
  color: red;
  text-align: left;
}

#DIFFEDITOR {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 25px;
  left: 0;
  width: unset !important;
  height: unset !important;
  border: 1px solid silver;
}

.ace_hidpi {
  width: 50% !important;
  height: 100% !important;
}

.codeMarker {
  background: #ffff0020;
  position: absolute;
  z-index: 20;
}

#btn-save1 {
  float: left;
}

#btn-save2 {
  float: right;
}
